<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spg.admin.dao.ConfigMapper">

    <select id="findDomainNamesCanUse" resultType="com.spg.admin.domain.Config">
        select
        id,
        domain_name domainName
        from config
    </select>
</mapper>